APP_ENV=dev

# Choose storage path on your machine. For all storage systems
DATA_SAVE_PATH=../data
PROJECT_NAME=zoho
COMPOSE_PROJECT_NAME=zoho

### WORKSPACE Container ################################################################################################

WORKSPACE_PUID=1000
WORKSPACE_PGID=1000

### NGINX Container ####################################################################################################

NGINX_CONF_DIR=./nginx/conf.d

### MARIADB Container ##################################################################################################

MARIADB_DATABASE=db
MARIADB_USER=admin
MARIADB_PASSWORD=admin
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root

############################
# Miscellaneous
############################

PHP_IDE_CONFIG=serverName=zoho.dev
COMPOSE_CONVERT_WINDOWS_PATHS=1
